<!--The content below is only a placeholder and can be replaced.-->
<p>
  <span *ifViewportSize="'small'"> small </span>
  <span *ifViewportSize="'medium'"> medium </span>
  <span *ifViewportSize="'large'"> large </span>
</p>
<ng-container *ngFor="let number of numbers">
  <button (click)="toggle()" *ifViewportSize="'small'">
    Toggle 3 tab
  </button>
</ng-container>
<button (click)="toggle()">
  Toggle 3 tab
</button>
<button (click)="addTab()">
  Add tab
</button>
<button (click)="removeTab()">
  Remove tab
</button>
<tabs>
  <tab>
    <tab-title>
      <span>Tab</span> 1
    </tab-title>
    <tab-content>
      <p>
        <i>Content city</i> 1
      </p>
      <img src="http://lorempixel.com/600/400/city/">
    </tab-content>
  </tab>
  <tab>
    <tab-title>
      <i>Tab</i> 2
    </tab-title>
    <tab-content>
      <p>
        Content people 2
      </p>
      <img src="http://lorempixel.com/600/400/people/">
    </tab-content>
  </tab>
  <tab *ngIf="visible">
    <tab-title>
      Tab 3
    </tab-title>
    <tab-content>
      <p>
        Content food 3
      </p>
      <img src="http://lorempixel.com/600/400/food/">
    </tab-content>
  </tab>
  <tab *ngFor="let tab of tabs">
    <tab-title>
      <div [innerHtml]="tab.title"></div>
    </tab-title>
    <tab-content>
      <div [innerHtml]="tab.content"></div>
    </tab-content>
  </tab>

</tabs>